<div class="artist-detail">
  <div class="artist-detail-image">
    <img class="band-image"src="{{(artistToDisplay | async)?.imageUrl}}" alt="{{(artistToDisplay | async)?.name}}">
  </div>
  <div class="artist-detail-text">
    <h1>{{(artistToDisplay | async)?.name}}</h1>
    <h4>Number of Members: {{(artistToDisplay | async)?.numberOfMembers}}</h4>
    <h4>Genre: {{(artistToDisplay | async)?.genre}}</h4>
    <h4>Hit Single: {{(artistToDisplay | async)?.hitSingle}}</h4>
    <div class="button" (click)="goBack()">Back</div>
  </div>
</div>
